<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">

    <div class="card">


      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">

            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Email Verification</h4>
            
            <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit()">
            <div class="form-group mb-4">
              <input type="email" name="email" class="form-control" id="emails" placeholder="Enter Email"
                [(ngModel)]="emailAddress" #emails="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && emails.invalid }">
              <div class="invalid-feedback" *ngIf="userForm.submitted && emails.invalid">
                <p *ngIf="emails.errors.required">Email is required</p>
              </div>
            </div>

            <button type="submit" class="btn btn-block btn-primary mb-4">Reset password</button>
            <p class="mb-0 text-muted">back to login?
              <a href="javascript:void(0)" [routerLink]="['/']" class="f-w-400">login</a>
            </p>

            </form>

           
          </div>
        </div>
      </div>


    </div>

  </div>
  <!-- [ reset-password ] end -->
</div>