<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userChangeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email"
                            placeholder="Enter Email" formControlName="EmailAddress" [ngClass]="{ 'is-invalid': (getControls('EmailAddress').dirty || getControls('EmailAddress').touched) 
                            && getControls('EmailAddress').invalid }" required [readonly]="isEdit">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input [type]="hide ? 'password' : 'text'" class="form-control" id="pass"
                            aria-describedby="pass" placeholder="Enter Password"
                            formControlName="Password" [ngClass]="{ 'is-invalid': (getControls('Password').dirty || getControls('Password').touched) 
                            && getControls('Password').invalid }" required>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-6">
                    <div class="input-group">
                            <input [type]="hide ? 'password' : 'text'" class="form-control" id="pass"
                                aria-describedby="pass" placeholder="Enter New Password"
                                formControlName="NewPassword" [ngClass]="{ 'is-invalid': (getControls('NewPassword').dirty || getControls('NewPassword').touched) 
                                && getControls('NewPassword').invalid }" required>
                        <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="hide = !hide">
                                    <i class="fa fa-eye" *ngIf="hide"></i>
                                    <i class="fa fa-eye-slash" *ngIf="!hide"></i>
                                </button>

                        </div>
                        <small class="text-info">A minimum 8 characters New password contains a
                                combination of
                                uppercase and
                                lowercase letter and number are required.</small>
                    </div>
                    </div>
            </div>
        </div>
        </form>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template> -->





<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    Test Kushal
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>